@font-face {
    font-family: RussoOne;
    src: url(../fonts/RussoOne-Regular.ttf);
  }

html, body {
    height: 100%;
    box-sizing: border-box;
}

.navbar-brand {
    font-family: RussoOne, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid {
    padding: 0;
    height: 100%;
}

td {
    vertical-align: middle;
}

a {
    text-decoration: none;
}